html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: "Scada", "Lucida Sans Unicode", sans-serif;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  max-width: 1100px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* ------ HEADER ------ */
.main-header {
  display: block;
  flex: 0 0 auto;
  width: 100%;
  height: 60px;

  background-color: #00B4D8;
}

/* ------ MAIN ------*/
.main-content {
  display: block;
  flex: 1 0 auto;
  box-sizing: border-box;
  width: 100%;
}

.main-title {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;

  color: #00B4D8;
  text-align: center;
}

.inner-page .main-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.catalogs-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;

  list-style: none;
}

.catalogs-list-item {
  position: relative;
  
  padding: 0;
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;

  line-height: 0;
}

.catalogs-list-item a {
  display: block;
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
}

.catalog-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;

  box-sizing: border-box;
  width: 100%;
  height: 120px;

  font-size: 22px;
  line-height: 24px;
  text-align: center;

  background-color: rgba(0 , 180, 216, 0.9);

  opacity: 0;
  transition: opacity 0.25s;
}

.catalogs-list-item:hover .catalog-info {
  opacity: 1;
}

.catalog-info p {
  padding: 0;
  margin: 0;

  color: #ffffff;
}

.about-project {
  box-sizing: border-box;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;

  text-align: justify;
}

.about-project a {
  font-weight: 700;
  color: #0077B6;
  text-decoration: none;
}

.about-project a:hover {
  color: #90E0EF;
}

/* ------ FOOTER ------ */
.main-footer {
  display: block;
  flex: 0 0 auto;

  width: 100%;
  height: 60px;

  background-color: #00B4D8;
}

/* ------ MEDIA ------ */
/* @media (max-width: 900px), (max-device-width: 900px) {
  
  .main-container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .main-title {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    
    font-size: 26px;
    text-align: center;
  }
  
  .inner-page .main-title {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 26px;
  }

  .catalogs-list {
    justify-content: center;
  }

  .catalog-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 5px 10px;

    font-size: 26px;

    opacity: 1;
  }

  .catalog-info p {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 400px), (max-device-width: 400px) {
  .main-container {
    padding-left: 0;
    padding-right: 0;
  }
} */